/* ARTICLE VITEPRESS */
.focus-mode .languages {
  display: none
}

.vp-doc .button {
  cursor: pointer;
  display: inline-block;
  background: var(--vp-c-secondary);
  color: var(--vp-c-white) !important;
  font-family: var(--vp-font-family-headings);
  font-size: calc(10px + 0.4vw);
  line-height: 1em;
  letter-spacing: 0.5px;
  border-bottom: none;
  margin-bottom: calc(4px + 0.4vw);
  padding: calc(12px + 0.4vw) calc(24px + 0.5vw);
  font-size: calc(12px + 1vw);
  box-shadow: calc(4px + 0.4vw) calc(4px + 0.4vw) 0 black;
  transition: .2s box-shadow !important;

  &:hover {
    box-shadow: calc(8px + 0.4vw) calc(8px + 0.4vw) 0 black;
    color: var(--vp-c-brand)
  }
}
.vp-doc .header-anchor{
    transition: opacity 1s .5s;
    border: none;
}


// CONSISTENT WITH EDITOR
.VPDoc .content-container{
  max-width: 688px !important;
  margin: auto;
}
.vp-doc {
    font-size: 18px;
    line-height: 1.8;
    min-height: 256px;


    p {
      line-height: 1.8;
      margin: 16px 0;
    }

    @media only screen and (max-width: 600px) {
      font-size: 16px;
      line-height: 1.7z;

      p{
        line-height: 1.7
      }
    }

    // LINK
    a {
      cursor: pointer;
      color: var(--vp-c-secondary);
      text-decoration: none;
      border-bottom: 4px solid rgba(#0031ea, 0.2);

      &:hover {
        border-bottom-color: rgba(#0031ea, 0.5);
      }
    }

    // HEADINGS
    h1,
    h2,
    h3,
    h4
    h5,
    h6 {
        font-family: var(--vp-font-family-headings);
        font-weight: 700;
        line-height: 1em;
        margin: 0;
        padding: 0;
        overflow: visible;
    }

    h2,
    h4 {
        color: var(--vp-c-brand);
    }

    h2 {
        margin: calc(24px + 2vw) 0 12px 0;
        font-size: calc(24px + 2vw);
    }

    h3 {
        margin-top: calc(24px + 2vw);
        font-size: calc(16px + 1vw);
    }

    h4 {
        margin-top: 26px;
        font-size: 16px;
    }

    // Highlighting the first paragraph of the article
    & > div > p:first-of-type {
        font-size: calc(16px + 0.5vw);
        line-height: 1.4em;
        font-weight: 700;
    }

    ul,
    ol {
      padding-left: 1.25rem;
      margin: 16px 0;
    }

    li {
      margin: 8px 0;

      p {
        margin: 8px 0;
      }
    }

    blockquote {
      border-left: 8px solid var(--vp-c-brand);
      border-radius: 6px;
      background-color: var(--vp-c-bg-alt);
      margin: 0;
      padding: 8px 16px;
      font-style: italic;

      p {
        margin: 8px 0;
        color: var(--vp-c-text-1);
      }
    }


    // IMAGE
    img,
    div[data-youtube-video] {
      max-width: 100%;
      border-radius: 2px;
      margin: 8px 0;
    }

    figure {
      margin:8px 0;

      figcaption {
        background: var(--vp-c-bg-alt);
        padding: 6px 8px;
        border-radius: 2px;
        text-align: center;
        font-size: 0.8em;

        a {
          color: var(--vp-c-black);
          border: none;
        }
      }
    }

    // VIDEO
    div[data-youtube-video] {
      padding-right: 24px;
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      background:var(--vp-c-bg-alt);
      margin: 8px 0;

      iframe {
        width: 100% !important;
        height: 100% !important;
        position: absolute;
        border: none;
        border-radius: 6px;
      }
    }

}




// UNIQUE TO WEBSITE
.dark .vp-doc {
  a {
    color: var(--vp-c-white);
    text-decoration: none;
    border-bottom: 4px solid rgba(#FFF8DB, .5);

    &:hover {
      color: var(--vp-c-white);
      border-bottom-color: var(--vp-c-white);
    }
  }
}

// Vitepress fixes
.vp-doc {
  a:hover{
    color: var(--vp-c-secondary);
  }
  strong a {
    font-weight: 700;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border-top: none !important;
  }

  blockquote p{
    font-size: 18px;

    @media only screen and (max-width: 600px) {
      font-size: 16px;
    }
  }

}

.hgroup,
.call-to-action,
.licence {
  color: var(--vp-c-white);
  padding: calc(14px + 1.8vw) calc(8px + 2vw);
  border-radius: 2px;
  font-family: var(--vp-font-family-headings);

  h1 {
    margin-bottom: calc(8px + 0.5vw);
    // font-size: 52px;
    font-size: calc(24px + 2vw);
    //  font-size: 100%;
    line-height: 1;
  }

  .description {
    font-size: calc(12px + 1vw);

    line-height: 1.2;
    opacity: 0.9;
  }

  .meta {
    margin-top: calc(14px + 0.5vw);
    display: flex;

    .reading-time,
    .last-updated,
    a, button {
      display: block;
      background: var(--vp-c-white);
      color: var(--vp-c-black);
      padding: calc(4px + 0.4vw) calc(6px + 0.5vw);
      font-size: calc(10px + 0.4vw);
      line-height: 1em;
      margin: 0;
      letter-spacing: 0.5px;
      border-bottom: none;
    }

    .reading-time {
      margin-right: calc(6px + 0.5vw);
    }

    .last-updated {
      opacity: 0.8;
    }

    a, button {
      margin-bottom: calc(4px + 0.4vw);
      padding: calc(12px + 0.4vw) calc(24px + 0.5vw);
      font-size: calc(12px + 1vw);
      box-shadow: calc(4px + 0.4vw) calc(4px + 0.4vw) 0 black;
      transition: .2s box-shadow;

      &:hover {
        box-shadow: calc(8px + 0.4vw) calc(8px + 0.4vw) 0 black;
        color: var(--vp-c-brand)
      }
    }
  }
}

.hgroup {
  margin-bottom: calc(8px + 0.5vw);
  background-color: var(--vp-c-brand);
}

.languages {
  opacity: 0.8;
  font-size: 0.85em;

  a{text-decoration: underline;}
}

.call-to-action {
  margin: 32px 0 64px 0;
  background-color: var(--vp-c-secondary);
}
.call-to-action.form {
  font-family: var(--vp-font-family-base);

  &.loading {
    opacity: .7;

    * {
      pointer-events: none;
    }

  }

  label {
    display: block;
    margin-top: 12px;
    font-size: calc(12px + 0.5vw);
    font-family: var(--vp-font-family-headings);
  }

  input,
  button {
    padding: calc(12px + 0.1vw);
    display: block;
    width: 100%;
    // border:2px solid var(--vp-c-white);
    background: var(--vp-c-white);
    color: black;
    font-size: calc(15px + 0.5vw);

    &::placeholder {
      color: grey;
      opacity: 1;
    }
  }

  input {
    border: 2px solid var(--vp-c-white);

    &:hover {
      border-color: #ccc;
    }

    &:focus {
      border-color: black;
    }
  }

  button {
    margin: calc(8px + 0.5vw) auto !important;
    width: auto;
    padding: calc(12px + 0.5vw) 10% !important;
    font-family: var(--vp-font-family-headings);
  }

  button[disabled] {
    opacity: .5;
  }

  .privacy {
    margin-top: 32px;
    font-size: 15px;
  }
}


.spinner {
  text-align: center;
  margin: 32px 0 8px 0;

  span {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
